<launch>
  <arg name="sim" default="false"/>
  <param name="robot_description" textfile="$(find hockbot)/urdf/robot_5dof.urdf"/>
  <node name="hebiros_node" pkg="hebiros" type="hebiros_node" respawn="false" output="screen"/>
  <node name="pydefinerobot" pkg="ee134" type="pydefinerobot.py" respawn="false" output="screen"/>
  <node name="scara_controller" pkg="hockbot" type="scara_controller" respawn="false" output="screen"/>
  <node unless="$(arg sim)" name="joint_state_publisher" pkg="joint_state_publisher" respawn="false" type="joint_state_publisher">
    <rosparam param="source_list">["/hebiros/robot/feedback/joint_state"]</rosparam>
    <param name="use_mimic_tags" value="true"/>
  </node>
  <node if="$(arg sim)" name="joint_state_publisher" pkg="joint_state_publisher" respawn="false" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  </node>
</launch>
